@charset "EUC-KR";

body {
	overflow-x: hidden;
    margin-top: -10px;
}

header {
	width : 100%;
	position : relative;	
}

nav {
	width : 15%;
	height : 100%;
	float : left;
}

aside {
	width : 15%;
	height : 100%;	
}

article {
	width : 70%;
	height : 100%;
	float : center;
}



.lineAll{
	width : 100%;
}

.lineLeft{
	width : 50%;
	float : left;
}

.lineRight{
	width : 50%;
	float : Right;
}

#addLineBtn {
	float : Right;
}

